@import './global.css';
@import './navbar.css';

/* BODY CONTENT, GALLERY AND ARTICLES */
.content {
  height: 100%;
  width: 100%;
  background-color: black;
}
.article {
  position: relative;
  display: none;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  position: relative;
  color: black;
  background-color: white;
  transition: opacity 3s ease-in-out;
}
.article.shown {
  position: relative;
  display: block;
  z-index: 0;
  visibility: visible;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.article-img {
  position: relative;
}
.article-img > .mobile-hero {
  height: auto;
  width: 100%;
}
.article-img > .desktop-hero {
  display: none;
}
.prev,
.next {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  padding: 16px;
  color: white;
  background-color: black;
  font-weight: bold;
  font-size: 12px;
  transition: 0.6s ease;
  user-select: none;
}
.prev {
  right: 60px;
}
.next {
  right: 0;
}
.prev:after {
  content: url('../assets/images/icon-angle-left.svg');
  padding-top: 6px;
}
.next:after {
  content: url('../assets/images/icon-angle-right.svg');
  padding-top: 6px;
}
.prev:hover,
.next:hover {
  background-color: var(--very-dark-gray);
}

.article-info {
  padding: 60px 50px;
}
.article-info > h2 {
  font-weight: 700;
  margin-bottom: 20px;
}
.article-info > p {
  margin-bottom: 40px;
}
.article-info > a {
  display: inline-flex;
  letter-spacing: 6px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
.article-info > a:hover {
  opacity: 0.5;
  /* filter: brightness(0.5); */
}

.article-info > a:after {
  content: url('../assets/images/icon-arrow.svg');
  padding-left: 40px;
}

.about {
  color: black;
  background-color: white;
}
.about img {
  height: auto;
  margin-bottom: -5px;
  width: 100%;
}

/* DESKTOP DISPLAY */
@media only screen and (min-width: 1280px) {
  .article.shown {
    display: flex;
  }
  .article-img > .mobile-hero {
    display: none;
  }
  .article-img > .desktop-hero {
    display: block;
    width: auto;
  }
  .prev,
  .next {
    bottom: 0;
  }
  .prev {
    right: -60px;
  }
  .next {
    right: -120px;
  }
  .article-info {
    flex: 1;
    height: 100%;
    padding: 100px 80px;
  }
  .article-info > h2 {
    font-size: 30px;
  }
  .about {
    display: flex;
  }
  .about img {
    height: auto;
    margin-bottom: 0;
    width: auto;
  }
}
